.pg-checkout {
  background-color:#f5f5f5;
  font-family:"Open Sans", sans-serif;

  .header {
    position:relative;
    background-color:#000;
  }

  .light-info {
    font-family: sans-serif;
    background-color:#FFF;
    color:#424242;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.05), 0 1px 4px 0 rgba(0,0,0,0.08), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-bottom:25px;
    text-align:center;
    padding:15px 10px;

    span {
      display:block;
      text-transform:uppercase;
      font-weight:600;
      font-size:18px;
    }

    .info-middle {
      text-transform:none;
      font-weight:300;
      font-size:32px;
      line-height:36px;

      strong span {
        display:inline-block;
        font-size:32px;
        font-weight:400;
        text-transform:none;
      }
    }
  }

  .container {
    max-width:980px;
    margin:auto;
  }

  .img-holder img {
    display:none;
    width:100%;
  }

  .main-content {
    border-radius:6px;
    background-color:#FFF;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.05), 0 1px 4px 0 rgba(0,0,0,0.08), 0 3px 1px -2px rgba(0,0,0,0.2);
    padding:25px;
  }

  .sidebar {
    background-color:#FFF;
    border-radius:6px;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.05), 0 1px 4px 0 rgba(0,0,0,0.08), 0 3px 1px -2px rgba(0,0,0,0.2);
    padding:15px 20px 20px;
  }

  .step {
    .step-title {
      background-image:linear-gradient(0deg,#02243d,#09445a,#0980b9);
      font-family:EurostileLTStd, sans-serif;
      font-weight:500;
      font-size:14px;
      color:#FFF;
      border-radius:4px;
      letter-spacing:.4px;
      margin-bottom:15px;
      line-height:1.1;
      text-transform:uppercase;
      overflow:hidden;

      span {
        display:inline-block;
        padding:7px;

        &:nth-child(1) {
          background-image:linear-gradient(0deg,#000,#212121,#616161);
        }
      }
    }

    .step-content {
      padding-left:15px;

      .label-price {
        font-weight:bolder;
        float:right;

        span {
          font-weight:400;
        }
      }
    }
  }

  .state-col label {
    display:block;
    width:100%;
  }

  .radio-box {
    margin:15px 0;

    label {
      cursor:pointer;
      display:block;
      font-weight:600;
      font-size:14px;
      margin:5px 0;
    }

    input[type="radio"] + label:before {
      content:"\00a0";
      display:inline-block;
      width:15px;
      height:15px;
      vertical-align:top;
      border:2px solid #000;
      border-radius:100%;
      margin:2px 15px 0 0;
      padding:0;
    }

    input[type="radio"]:checked + label:before {
      background:#000;
      box-shadow:inset 0 0 0 2px #fff;
      border-radius:100%;
      color:#666;
      text-align:center;
    }
  }

  .payment {
    position:relative;
    border-radius:18px;
    overflow:hidden;
    border:1px solid #bdbdbd;
    background:#e0e0e0 url(../images/th.png) repeat top center;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.05), 0 1px 4px 0 rgba(0,0,0,0.08), 1px 3px 1px -1px rgba(0,0,0,0.5);
    max-width:400px;
    width:107%;
    display:inline-block;
    text-align:left;
    margin:0 -10px 29px;

    .payment-title {
      padding:10px 8px;
    }

    .payment-title h5 {
      font-size:10px;
      font-family:'Open Sans', sans-serif;
      line-height:17px;
      font-weight:700;
      font-style:italic;
      margin:2px 0 0;
    }

    .payment-title .lock-icon {
      float:left;
      margin-right:2px;
      max-width:15px;
    }

    .payment-content {
      background:#eee;
      margin-top:0;
      border-radius:12px;
      padding:15px;
    }

    .payment-icon {
      margin-bottom:-15px;
      font-size:0;
    }

    .cc-sm {
      width:50px;
      height:33px;
      border:1px solid #ccc;
      margin-right:0;
      margin-bottom:15px;
      box-shadow:0 1px 2px 0 rgba(0,0,0,0.58);
      border-radius:6px;
      display:inline-block;
      background-position:center;
      background-repeat:no-repeat;
    }

    .cc-sm.cc-visa {
      background-image:url(../images/cc-visa.svg);
      background-color:#194ba0;
      background-size:95%;
    }

    .cc-sm.cc-mc {
      background-image:url(../images/cc-mastercard.jpg);
      background-size:90%;
      background-color:#000;
    }

    .cc-sm.cc-american {
      background-image:url(../images/cc-amex.svg);
      background-size:120%;
    }

    .cc-sm.cc-discover {
      background-image:url(../images/cc-discover.jpg);
      background-size:100%;
    }

    .cc-icon {
      padding: 2px;
    }

    .cc-icon.active {
      border:3px solid rgba(255,2,0,0.76);
    }

    a:not(:last-of-type) .cc-sm {
      margin-right:14px;
    }

    .image-secure {
      width:75px;
      position:absolute;
      bottom:8px;
      right:14px;
    }

    #month,#year {
      display:inline-block;
      font-size:12px;
      height:25px;
      padding:0 0 0 5px;
    }
  }

  .row.no-gutters {
    margin-right:0;
    margin-left:0;
  }

  .row.no-gutters > [class^="col-"],.row.no-gutters > [class*=" col-"] {
    padding-right:0;
    padding-left:0;
  }

  .exp-year {
    margin-left:3px;
  }

  .exp-detail .img-secure {
    position:absolute;
    top:-11px;
    right:0;
    text-align:right;
  }

  .exp-detail .img-secure img {
    width:74px;
  }

  .btn-complete {
    display:table;
    background:linear-gradient(180deg,#f82c29 0%,#e92927 50%,#d5201e 95%,#d3201d 100%);
    font-size:0;
    width:100%;
    text-shadow:1px -1px 1px rgba(132,5,5,0.66);
    border:0;
    border-radius:12px;
    overflow:hidden;
    position:relative;
    padding:0;

    .btn-text {
      background:linear-gradient(180deg,#ff4f4a 0%,#f64844 50%,#de3330 95%,#db2f2c 100%);
      width:100%;
      display:table-cell;
      font-size:14px;
      font-weight:600;
      font-family:EurostileLTStd, sans-serif;
      text-transform:uppercase;
      white-space:pre-line;
      box-shadow:0 0 5px 2px rgba(0,0,0,0.2);
      position:relative;
      vertical-align:middle;
      border-radius:12px 0 0 12px;
      margin:0;
      padding:12px 5px 12px 10px;
    }

    &.pulse {
      -webkit-animation:pulse2 1s linear infinite;
      -moz-animation:pulse2 1s linear infinite;
      -ms-animation:pulse2 1s linear infinite;
      animation:pulse2 1s linear infinite;
    }

    &:not(.pulse),&:hover {
      background:linear-gradient(180deg,#cb3937 0%,#c13936 50%,#ac2b29 95%,#aa2927 100%);
    }

    &:not(.pulse) .btn-text,&:hover .btn-text {
      background:linear-gradient(180deg,#cd524f 0%,#c54c49 50%,#b13937 95%,#ae3635 100%);
    }

    &:active,&:focus {
      color:#fff;
      outline:none;
      top:2px;
      border-color:transparent;
    }

    .btn-img-part {
      width:67px;
      height:67px;
      display:table-cell;
      vertical-align:middle;
      background-image:url(../images/icon-truck.png);
      background-repeat:no-repeat;
      background-position:center;

      .btn-img-holder {
        display: block;
        width:67px;
      }
    }
  }

  label {
    font-size:14px;
    font-weight:700;
    margin-bottom:2px;
  }

  .form-group {
    margin-bottom:10px;
  }

  .fv-control-feedback {
    top:25px;
    font-size:14px;
  }

  #state ~ .fv-control-feedback {
    right:25px;
    width:20px;
  }

  #year ~ .fv-control-feedback,#month ~ .fv-control-feedback {
    top:0;
    height:25px;
    line-height:28px;
    right:25px;
    width:20px;
  }

  .footer {
    background-color:#000;
    font-family:"Open Sans", sans-serif;
    text-transform:uppercase;
    text-align:center;
    margin-top:90px;
    padding:50px 15px;
  }

  &.mobile-mode #step-1 .step-content .radio-box:nth-child(1),
  &.mobile-mode #step-1 .step-content .radio-box:nth-child(2),
  &.mobile-mode #step-1 .step-content .radio-box:nth-child(3) {
    display:block;
  }

  &.mobile-mode #step-4 h2 {
    margin-top:0;
  }

  .light-info .info-middle strong, .radio-box input[type="radio"]:checked + label:after {
    font-weight:700;
  }
}
