@import '../variables';

.pg-receipt {
  background-image: url('../images/bg-receipt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-text1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-bottom: 50px;

  .container {
    max-width: 925px;
    padding: 0;
    text-align: center;
    width: 95%;
  }

  .info {
    background: $color-white;
    border-radius: 10px;


    .title {
      color: $color-red3;
      font-family: EurostileLTStd, sans-serif;
      font-size: 21px;
      font-weight: 500;
      line-height: 44px;
      padding-top: 25px;
      text-transform: uppercase;

      span {
        color: $color-text1;
        display: block;
        font-size: 45px;
      }
    }

    .note {
      padding-bottom: 20px;
      padding-top: 20px;

      strong {
        font-weight: 600;
      }
    }

    .accent {
      color: $color-red3;
    }

    .accent-box {
      background: $color-red3;
      border-radius: 5px;
      color: $color-white;
      display: inline-block;
      font-family: EurostileLTStd;
      font-size: 16px;
      margin: 35px;
      padding: 10px 35px 5px;
      text-transform: uppercase;
    }
  }
}

.well {
  background: $color-cream;
  padding: 10px;
  text-align: left;

  h3 {
    font-size: 22px;
    font-weight: 700;
  }
}

.order-detail {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;

  p {
    display: inline-block;
  }

  span {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
  }
}

.item-detail-table {
  border-bottom: 1px $color-border solid;
  border-left: 1px $color-border solid;
  border-right: 1px $color-border solid;

  tr {
    text-align: left;
  }

  .total-amount {
    border-left: 1px $color-border solid;
    border-right: 1px $color-border solid;
    font-size: 22px;
    font-weight: 700;
  }
}
