@import './variables';

@media screen and (min-width: 544px) {
  .hidden-sm-up {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hidden-md-up {
    display: none;
  }

  .pg-checkout {
    .img-holder {
      .img-desktop {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .hidden-lg-up {
    display: none;
  }
}

@media screen and (max-width: 695px) {
  .custom-modal {
    background: $color-white;

    .modal-dialog {
      background: $color-white;
      margin: 0;
      max-width: 100%;
      min-height: 100%;

      .modal-content {
        box-shadow: 0 0 transparent;
      }

      .modal-header {
        padding: 20px 15px;
      }

      .modal-body {
        padding: 15px 17px;
      }

      h4 {
        &.modal-title {
          font-size: 1.4em;
        }
      }

      .close-modal {
        background: transparent;
        box-shadow: 0 0 transparent;
        height: 30px;
        right: 0;
        top: 0;
        width: 30px;

        svg {
          fill: $color-light-gray;
        }
      }

      .btn-modal-confirm {
        font-size: 1.5em;
        white-space: normal;
        word-break: break-word;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .custom-modal {
    .modal-dialog {
      max-width: 700px;
    }
  }
}

@media screen and (max-width: 370px) {
  .custom-modal {
    .modal-dialog {
      h4 {
        &.modal-title {
          font-size: 1.2em;
        }
      }

      .btn-modal-confirm {
        font-size: 1.35em;
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 666px) {
  .custom-modal {
    .form-group {
      label {
        display: block;
        width: 100%;
      }
    }

    .modal-content {
      .form-group {
        .icon-field {
          top: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 667px) {
  .custom-modal {
    .modal-header {
      padding: 10px 15px;
    }

    [href='#clear'] {
      top: 16px;
    }

    label {
      float: left;
      margin-top: 5px;
    }

    .form-control {
      float: right;
      padding-right: 35px;
      width: calc(100% - 150px);

      &.state {
        width: calc(100% - 100px);
      }
    }

    .valid-message,
    .form-control-feedback {
      float: right;
      margin-top: 4px;
      width: calc(100% - 150px);
    }

    .form-group {
      .fv-control-feedback,
      .icon-field {
        top: 0;
      }
    }
  }

  .fv-form-bootstrap4 {
    &:not(.form-inline) {
      label ~ {
        .fv-control-feedback {
          top: 0;
        }
      }
    }
  }

  .pg-checkout {
    .fv-form-bootstrap4 {
      &:not(.form-inline) {
        label ~ {
          .fv-control-feedback {
            top: 27px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 315px) and (max-width: 480px) {
  .custom-modal {
    .modal-dialog {
      h4 {
        &.modal-title {
          font-size: 1.2em;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .pg-index {
    .header {
      .logo-holder {
        margin: auto;
        max-width: 350px;
        width: 100%;
      }

      .header-message {
        display: none;
      }
    }

    .feature {
      padding: 10px 0 5px;

      .feature-bar {
        display: block;

        img {
          width: 100%;
        }

        .img-mobile {
          display: none;
        }

        .img-tablet {
          display: block;
        }
      }

      .feature-item {
        display: none;
      }
    }

    .btn {
      &.btn-red {
        padding: 30px 0 15px 120px;

        .btn-text {
          font-size: 18px;
          letter-spacing: 7px;
        }

        .img-holder {
          background-size: 80px;
          width: 120px;
        }
      }

      .btn-title {
        font-size: 26px;
      }

      &.btn-green {
        padding: 30px 10px;

        .btn-text {
          font-size: 16px;
        }
      }
    }
  }

  .pg-checkout {
    background-color: $color-white;

    .img-holder {
      .img-mobile {
        display: block;
      }
    }

    .step {
      .step-content {
        padding-left: 0;
      }
    }

    .radio-box {
      margin: 5px 0;

      label {
        border-bottom: 1px solid $color-light1;
        cursor: pointer;
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        min-height: 50px;
        padding: 10px 0 0;
        position: relative;
        z-index: 2;

        span {
          position: relative;
          z-index: -1;
        }
      }

      &:last-child {
        label {
          border-bottom: 0;
        }
      }
    }

    .container {
      max-width: 100%;
      width: 100%;
    }

    .main-content {
      padding-bottom: 0;
    }

    .sidebar {
      margin-top: 0;
    }

    .main-content,
    .sidebar {
      border-radius: 0;
      box-shadow: none;
      padding-left: 10px;
      padding-right: 10px;
    }

    .light-info {
      display: none;
    }

    .img-shipping {
      display: block;
    }
  }

  .pg-battery {
    .info {
      border: 0;
      padding: 0;

      .navbar {
        margin: 0;
        padding: 0;
      }
    }
  }

  .pg-receipt {
    .info {
      padding: 20px 10px;

      .title {
        font-size: 25px;
        line-height: 1.2;

        span {
          font-size: 34px;
          line-height: 1;
        }
      }
    }
  }

  .pg-tm3 {
    h2 {
      font-size: 28px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .pg-index {
    .feature {
      .feature-item {
        .media {
          h4 {
            font-size: 18px;
          }

          p {
            font-size: 13px;
          }
        }
      }
    }

    .btn {
      .btn-title {
        font-size: 36px;
      }
    }
  }
}

@media screen and (max-width: 543px) {
  .pg-index {
    .feature {
      .feature-bar {
        .img-mobile {
          display: block;
        }

        .img-tablet {
          display: none;
        }
      }
    }

    .btn {
      .btn-title {
        font-size: 24px;
      }

      &.btn-green {
        padding: 20px 10px;

        .btn-text {
          font-size: 14px;
        }
      }

      &.btn-red {
        padding: 20px 0 10px 80px;

        .btn-title {
          margin-bottom: 10px;
        }

        .btn-text {
          font-size: 14px;
          letter-spacing: 5px;
        }

        .img-holder {
          background-size: 60px;
          width: 80px;
        }
      }
    }
  }

  .pg-tm3 {
    p {
      font-size: 16px;
    }

    .header {
      .logo {
        display: block;

        img {
          margin: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .pg-checkout {
    .container {
      max-width: 720px;
    }

    .step {
      .step-content {
        .label-desktop {
          display: none;
        }

        .label-mobile {
          display: inline-block;
        }
      }
    }

    .payment {
      margin-left: 0;
      margin-right: 0;
      width: 100%;

      .payment-icon {
        a {
          text-align: center;
          width: 25%;

          &:not(:last-of-type) {
            .cc-sm {
              margin-right: 0;
            }
          }
        }
      }
    }

    .btn-complete {
      display: block;
      margin: 0 auto;
      min-height: 80px;

      .btn-text {
        font-size: 22px;
        height: 80px;
        min-height: 80px;
      }

      span {
        height: 80px;
      }
    }
  }

  .pg-battery {
    .container {
      max-width: 715px;
    }

    .info {
      .navbar {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .pg-index {
    .btn {
      &.btn-green {
        padding: 25px 10px;
      }

      &.btn-red {
        padding: 25px 0 15px 120px;

        .btn-title {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .pg-index {
    .btn {
      .btn-title {
        font-size: 20px;
      }

      &.btn-green {
        padding: 20px 10px;

        .btn-text {
          font-size: 16px;
        }
      }

      &.btn-red {
        padding: 20px 0 10px 120px;

        .btn-title {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .pg-index {
    .btn {
      &.btn-red {
        padding: 20px 0 10px 60px;

        .btn-title {
          font-size: 20px;
        }

        .btn-text {
          font-size: 14px;
          letter-spacing: 5px;
        }

        .img-holder {
          background-size: 50px;
          width: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 388px) {
  .pg-index {
    .btn {
      .btn-title {
        font-size: 18px;
      }

      &.btn-green {
        .btn-text {
          font-size: 10px;
        }
      }

      &.btn-red {
        padding: 20px 10px 10px;

        .btn-text {
          font-size: 12px;
          letter-spacing: 3px;
        }

        .img-holder {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .pg-index {
    .btn {
      .btn-title {
        white-space: pre-wrap;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .pg-checkout {
    .step {
      .step-title {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .pg-checkout {
    .btn-complete {
      width: 100%;
    }

    .btn-text {
      font-size: 18px;
    }
  }
}
