$color-black: #000;
$color-white: #fff;
$color-green: #5cb85c;
$color-green1: #bddaa2;
$color-green2: #58763c;
$color-green3: #309200;
$color-green4: #3aae00;
$color-green5: #035a03;
$color-green6: #a9ec36;
$color-green7: #64ae24;
$color-green8: #1c6d11;
$color-green9: #658e20;
$color-green10: #416d17;
$color-green11: #11420a;
$color-yellow: #ff0;
$color-orange: #f0ad4e;
$color-orange1: #ffa500;
$color-light: #ffebee;
$color-light1: #ccc;
$color-light2: #f5f5f5;
$color-light3: #ddd;
$color-light4: #eee;
$color-light5: #eceff1;
$color-light6: #f2f8ec;
$color-light7: #cedac0;
$color-light8: #e0e0e0;
$color-gray: #c4c4c4;
$color-gray1: #b7b7b7;
$color-light-gray: #bdbdbd;
$color-dark-gray: #919191;
$color-dark: #888;
$color-dark1: #2f2f2f;
$color-dark2: #78909c;
$color-dark3: #515151;
$color-dark4: #2d2d2d;
$color-dark5: #0d0d0d;
$color-dark6: #595959;
$loading-bar-bgcolor: #ff3f3f;
$color-black-dot05: rgba(0, 0, 0, .05);
$color-black-dot08: rgba(0, 0, 0, .08);
$color-black-dot1: rgba(0, 0, 0, .1);
$color-black-dot15: rgba(0, 0, 0, .15);
$color-black-dot29: rgba(0, 0, 0, .29);
$color-black-dot2: rgba(0, 0, 0, .2);
$color-black-dot3: rgba(0, 0, 0, .3);
$color-black-dot5: rgba(0, 0, 0, .5);
$color-black-dot16: rgba(0, 0, 0, .16);
$color-black-dot64: rgba(0, 0, 0, .64);
$color-black-dot62: rgba(0, 0, 0, .62);
$color-black-dot16863: rgba(47, 47, 47, .16863);
$color-white-dot55: rgba(255, 255, 255, .55);
$color-white-dot59: rgba(255, 255, 255, .59);
$color-white-dot49: rgba(255, 255, 255, .49);
$color-white-dot54: rgba(255, 255, 255, .54);
$color-red-dot52: rgba(232, 55, 55, .52);
$color-red-dot66: rgba(132, 5, 5, .66);
$color-red: rgba(255, 2, 0, .76);
$color-red1: #e53935;
$color-red2: #f44336;
$color-red3: #db2927;
$color-red4: #f82c29;
$color-red5: #e92927;
$color-red6: #d5201e;
$color-red7: #d3201d;
$color-red8: #ff4f4a;
$color-red9: #f64844;
$color-red10: #de3330;
$color-red11: #db2f2c;
$color-red12: #cb3937;
$color-red13: #c13936;
$color-red14: #ac2b29;
$color-red15: #aa2927;
$color-red16: #cd524f;
$color-red17: #c54c49;
$color-red18: #b13937;
$color-red19: #ae3635;
$color-red20: #b10000;
$color-red21: #8b0000;
$color-red22: #6f0000;
$color-red23: #af1010;
$color-red24: #6e0202;
$color-red25: #530000;
$color-red26: #430000;
$color-red27: #690a0a;
$color-red28: #540202;
$color-red29: #c80000;
$color-red30: #c70e02;
$color-text: #424242;
$color-text1: #5a5b5d;
$color-text2: rgba(196, 196, 196, .5);
$color-blue: #02243d;
$color-blue1: #09445a;
$color-blue2: #0980b9;
$color-blue3: #194ba0;
$color-blue4: #00e;
$color-blue5: #337ab7;
$color-blue6: #488ace;
$color-black1: #212121;
$color-black2: #616161;
$color-black3: #666;
$color-cream: #feffe2;
$color-border: #eceeef;
