apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: ${NGINX_REPLICAS}
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: ${IMAGE_NAME}/nginx:${CI_COMMIT_ID} 
        ports:
        -
          containerPort: 80
        -
          containerPort: 443

