kind: PersistentVolume
metadata:
  name: redis-disk
spec:
  capacity:
    storage: ${REDIS_DISK_SIZE}Gi
  accessModes:
    - ReadWriteOnce
  gcePersistentDisk:
    pdName: redis-disk
    fsType: ext4
